*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    font-size: 60px;
}
p{
    color: beige;

}
body{
    font-family: "Alan Sans", sans-serif;
    color: white;
    margin: 0;
    background: linear-gradient(#0C1B33,#282742);
}


.container{
    max-width: 1400px;
    margin: auto;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    background-color: #0C1B33;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .navbar a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-left: 0.8rem;
    
}   
#hero{
    padding: 6rem;
}
.imagen-yo{

    width: 400px;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: row;
}

.texto-hero p{
    font-size: 24px;
    padding-right: 5rem;
}

.carta{
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background: linear-gradient(#0C1B33,#282742);

}
.grid-container{
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    justify-content: center;
}

.carta img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-style: groove;
    border-color: gray;
}

h2{
    font-size: 40px;
    
}
#proyectos button{  
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:#0C1B33;
    color: beige;
    margin-top: 1rem;
}
#proyectos h3{
    padding-top: 1rem;
}
.contacto{
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color:white;
    color: black;
    margin-top: 3rem;
}
#sobremi{
    padding-top: 4rem;
    padding-bottom: 4rem;

}
#sobremi p{
    font-size: 18px;
    padding-right: 10rem;
}

.texto-sobremi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: row;
}
.imagen-idea{
    width: 400px;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 4rem;
    
}

footer button{
    display: flex;
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color:white;
    color: black;
}

.botones-footer{
    display: flex;
    gap: 15px;   
}

@media (max-width:1023px){
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }
    .imagen-yo{
        width: 400px;
        border-radius: 30px;
        max-width: 100%;
        height: auto;
        margin: 4rem;
    }
    .texto-sobremi{
        display: flex;
        flex-direction: column;
    }
    
}








